[Desktop Entry]
Name=Frutiger Aero
Comment=A scrollable-tiling Frutiger Aero Wayland compositor
Exec=frutiger-session
Type=Application
DesktopNames=frutiger;niri
